body {
  background-image: url("./färg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  margin-top: 20px;
  margin-left: 500px;
}
.center {
  margin-top: 50px;
  margin-left: 400px;
}

.password {
  margin-top: 20px;
}
.robot {
  margin-top: 10px;
}
.titel {
  text-align: center;
}
